        h1{
            color: green;
            font-size: 3em;
        }

        p{
            font-family: monospace;
        }

        body {
            background-color: rgb(255, 400, 200);
            font-size: 20px;
        }

        #primeiro-parag{
            background-color: red;
        }

        #exercicio{
            color: orange;
        }

        .list-style{
            background-color: yellow;
            color: tomato;
            font-weight: bold;
            font-style: italic;
            line-height: 40px;
            text-align: center;
            text-decoration: underline;
        }    