h1, p {
    text-align: center;
}

ul, ol {
    list-style-type: none;
    display: inline;
}

li:hover {
    background-color: #a1c1be;
}

li:active {
    font-family:'Courier New', Courier, monospace;
}

a:visited {
    color: #59554e;
}