h1, p {
    text-align: center;
}

div {
    text-align: center;
    margin-bottom: 10px;
}

div:hover {
    border: solid 2px;
}

.terceira {
    font-family:'Courier New', Courier, monospace;
    padding: 40px;
}
