.super-mario {
    width: 200px;
    position: absolute;
    left: 50px;
    top: 300px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 150px;
    top: 580px;
  }
  
  .baloon {
    position: absolute;
    top: 90px;    
    left: 30px;
  }
  
  .speach {
    font-size: 25px;
    top: 125px;
    left: 50px;
    position: absolute;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 285px;
    top: 270px;
  }