.super-mario {
    width: 200px;
    position: absolute;
    
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 100px;
    top: 400px;
    left: 50px;
}
  
  .baloon {
      position: absolute;
      top: 80px;
      left: 300px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 120px;
    left: 320px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 200px;
    left: 600px;
  }