.img { 
    width: 500px;
}

.css {
    color: brown;
}

.paragrafos {
    background-color: rgb(240, 240, 240);
    width: 5%;
    height: 300px;
    /*overflow: hidden;*/
    overflow-y: auto;
    overflow-x: auto;
}
