.img { 
    width: 50px;
}

.css {
    color: brown;
}

.paragrafos {
    background-color: rgb(240, 240, 240);
    width: 50%;
    height: 300px;
    /*overflow: hidden;*/
    overflow-y: auto;
    overflow-x: hidden;
}

li:hover {
    background-color: green;
}

li:active {
    color: blue;
}

p {
    font-family: monospace;
}

#aprendizado {
    font-family: serif;
}

.fato{
    border-top: 1px solid rgb(222, 222, 222);
    border-bottom: 1px solid rgb(222, 222, 222);
    padding-top: 6px;
    padding-bottom: 6px;
}

.perigo {
    background-color: red;
    color: white;
}

p.perigo {
    border: 5px solid yellow;
}

ol.conhecimento li p {
    background-color: green;
    color: white;
}

/*
body {
    font-family: fantasy;
    color: rgb(3, 174, 213);
}

#astro {
    width: 450px;
    position: absolute;
    top: 20px;
    left: 900px;
    z-index: 1;
}

#coroa {
    width: 200px;
    position: absolute;
    top: 20px;
    left: 900px;
    z-index: 2;
}

#oculos {
    width: 100px;
    position: absolute;
    top: 20px;
    left: 900px;
    z-index: 3;
}*/
